.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 75, 9);
    justify-content: center;
    align-items: left;
}

.position{
    background-color: yellow;
    position: absolute;
}

head{
    position: relative;
}

.second{
    background-color: blueviolet;
    
}